
<div *ngIf="contactCategory">
    <h2><span jhiTranslate="khushFinalApp.contactCategory.detail.title">Contact Category</span> {{contactCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="khushFinalApp.contactCategory.categoryId">Category Id</span></dt>
        <dd>
            <span>{{contactCategory.categoryId}}</span>
        </dd>
        <dt><span jhiTranslate="khushFinalApp.contactCategory.name">Name</span></dt>
        <dd>
            <span>{{contactCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="khushFinalApp.contactCategory.description">Description</span></dt>
        <dd>
            <span>{{contactCategory.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'contact-category-my-suffix/'+ contactCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
