
<div *ngIf="companyCategory">
    <h2><span jhiTranslate="khushFinalApp.companyCategory.detail.title">Company Category</span> {{companyCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="khushFinalApp.companyCategory.categoryId">Category Id</span></dt>
        <dd>
            <span>{{companyCategory.categoryId}}</span>
        </dd>
        <dt><span jhiTranslate="khushFinalApp.companyCategory.name">Name</span></dt>
        <dd>
            <span>{{companyCategory.name}}</span>
        </dd>
        <dt><span jhiTranslate="khushFinalApp.companyCategory.description">Description</span></dt>
        <dd>
            <span>{{companyCategory.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company-category-my-suffix/'+ companyCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
